@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  overflow-x: hidden
}
body {
  background-color: black;
  overflow-x: hidden;
  min-height: 100vh;
}
.chatbody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatbox {
  width: 70vw;
  height: 70vh;
  border: 4px solid #282b30;
  margin-top: 10vh;
  /* position: relative; */
  border-radius: 10px;
  overflow-y: auto;
}
@media(max-width: 1000px)
{
  .chatbox{
    width: 91vw;
  }
}
.chatmessage {
  color: white;
}
.chatinput {
  display: flex;

  /* position: absolute; */
  margin-top: 4vh;

  left: 15vw;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}
textarea {
  resize: none;
  width: 63vw;
  border-radius: 10px;
  padding-left: 1vw;
  padding-top: 2vh;
  background: rgba(66, 69, 73, 0.6);
  color: white;
  border: 1px solid #00fa9a;
  outline: none;
  outline-style: none;
}
@media(max-width: 1000px)
{
  textarea{
    width:71vw;
    margin-left: -6vw;
  }
}
textarea:focus,textarea:hover {
  border: 2px solid #00fa9a;
  background: rgba(66, 69, 73, 1);
}
.chatbtn {
  padding-left: 2vw;
  padding-right: 2vw;
  height: 4vh;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 9px;
  outline-style: none;
  background: black;
  color: #00fa9a;
  cursor: pointer;
}
.chatbtn:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}
.root{
  /* min-height: 100vh; */
}
.chatvideo {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(4px);
}
.chatparent {
  position: relative;
}
.messagebyuser {
  border: 2px solid transparent;
  margin-top: 4vh;
  font-size: 1.25rem;
  border-radius: 17px;
  color: white;
  background: #f4f7f9;
  margin-left: 1vw;

  width: fit-content;
  display: inline-table;
  padding: 0.5em 0.8em;
  line-height: 1.5;
  position: relative;
}
@media(max-width: 1000px)
{
  .messagebyuser{
    font-size: 1.5rem;
  }
}
.imagebyuser{
  border: 2px solid transparent;
  margin-top: 4vh;
  font-size: 1.25rem;
  border-radius: 17px;
  color: white;
  background: #f4f7f9;
  margin-left: 1vw;

  width: fit-content;
  display: inline-table;
  padding: 0.5em 0.2em;
  line-height: 1.5;
  position: relative;
}

.messagebyuser::before,.imagebyuser::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -2px;
  height: 20px;
  border-left: 20px solid #f4f7f9;
  border-bottom-right-radius: 21px 20px;
  transform: translate(0, 7px);
}

.messagebyreciever {
  width: fit-content;
  padding: 0.5em 0.8em;
  line-height: 1.5;

  border: 2px solid transparent;
  font-size: 1.25rem;
  border-radius: 17px;
  color: white;
  background: #007afc;
  margin-left: auto;
  margin-top: 4vh;
  margin-right: 1vw;
  position: relative;
}
@media(max-width: 1000px)
{
  .messagebyreciever{
    font-size: 1.5rem;
  }
}
.imagebyreciever{
  width: fit-content;
  padding: 0.5em 0.2em;
  line-height: 1.5;
  border: 2px solid transparent;
  font-size: 1.25rem;
  border-radius: 17px;
  color: white;
  background: #007afc;
  margin-top: 4vh;
  margin-right: 1vw;
  position: relative;
  float: right;
}
.messagebyreciever::before,.imagebyreciever:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -2px;
  height: 20px;
  border-left: 20px solid #007afc;
  border-bottom-left-radius: 21px 20px;
  transform: translate(0, 7px);
}

.chatbyuserheading {
  text-align: center;
  word-break: break-word;
}
.chatbyrecieverheading {
  text-align: center;
  word-break: break-word;
}
.details {
  font-size: smaller;
  width: fit-content;
  padding: 0.5em 1.2em;
}
#recieverdetail {
  margin-left: auto;
}
p {
  color: aquamarine;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(66, 69, 73, 0.5);
  border-radius: 10px;
}
.onlines {
  position: absolute;
  width: 14vw;
  height: 100vh;
  border: 2px solid white;
  display: none;
}
#onlinetag {
  margin-top: 9vh;
  text-align: center;
  font-size: 2rem;
  color: white;
}
#usersonline {
  margin-top: 10vh;
}
.onlineindi {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
  z-index: 1;
}
.onlineicon {
  margin-top: 9vh;
  height: 4ch;
}
.online-mob {
  position: absolute;
  width: 17vw;
  height: 97vh;
  z-index: 2;
  border-radius: 19px;
  background: #23272a;
  margin-top: 1vh;
  border: 4px solid #282b30;
  overflow-y: auto;
}
.online-mob2 {
  position: absolute;
  width: 17vw;
  height: 97vh;
  z-index: 2;
  border-radius: 19px;
  background: #23272a;
  margin-top: 1vh;
  border: 4px solid #282b30;
  right: 0;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .online-mob,
  .online-mob2 {
    width: 41vw;
  }
  .onlineindi {
    font-size: 1.3rem;
  }
}
.forwardsSidebar {
  /* transform: translateX(); */
  animation: sidebarAnimation 200ms ease-in-out forwards;
}
.backwardsSidebar {
  animation: sidebarAnimationOpp 200ms ease-in-out forwards;
}
.forwardsSidebar2 {
  /* transform: translateX(); */
  animation: sidebarAnimation2 200ms ease-in-out forwards;
}
.backwardsSidebar2 {
  animation: sidebarAnimationOpp2 200ms ease-in-out forwards;
}
.onlinebtn {
  width: 5vw;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  margin-top: 3vh;
  background: transparent;
  border: 0px;
}
.onlinebtn2 {
  width: 5vw;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  margin-top: 3vh;
  background: transparent;
  border: 0px;
  right: 3vh;
}
.slide {
  position: absolute;
}
.userhandler {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdownimg {
  width: 4vw;
}
@media (max-width: 1000px) {
  .dropdownimg {
    width: 9vw;
  }
}
.defaultSidebar {
  transform: translateX(-150%);
}
.defaultSidebar2 {
  transform: translateX(150%);
}
@keyframes sidebarAnimation {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes sidebarAnimation2 {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes sidebarAnimationOpp {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-150%);
  }
}
@keyframes sidebarAnimationOpp2 {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(150%);
  }
}
input[type="file"] {
  display: none;
}
.filehead {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filesend {
  position: relative;
}
.file {
  width: 3vw;
  background: transparent;
  cursor: pointer;
}
@media(max-width: 768px)
{
  .file{
    width: 8vw;
  }
}
.file:hover {
  filter: drop-shadow(2px 4px 6px white);
}
.imagebox {
  --scale: 1.2vw;
  width: calc(var(--scale) * 16);
  height: calc(var(--scale) * 16);
  border-radius: 17px;
  object-fit: cover;
}
@media(max-width: 1000px)
{
  .imagebox{
    --scale:3.8vw
  }
}
#emoji{
  width: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
aside{
  position: absolute !important;
  height: 450px;
  width: 350px;
  bottom: 10vh !important;
}

.emojihead{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:1200px)
{
  .emojihead{
    display: none;
  }
}