@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --ti-cursor-font-size:3rem;
}
@media(max-width:768px)
{
  :root{
    --ti-cursor-font-size:2rem;
  }
}
@media(max-width:768px)
{
  .parent{
    position: relative;
    top: -9vh;
  }
}

.chat {
  text-align: center;
  margin-top: 30vh;
  color: white;
  font-size: 4rem;
  position: relative;
  left: 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  opacity: 1;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #673de6;
}
@media(max-width:768px)
{
  span{
    font-size: 2.3rem;
  }
}
input {
  width: 16vw;
  height: 4vh;
  border: 2px solid #39cccc;
  border-radius: 9px;
  outline-style: none;
  padding-left: 1vw;
  background: rgba(66, 69, 73,0.6);
  color: white;
}
@media(max-width: 1000px)
{
  input{
    width: 56vw;
  }
}
input:focus,input:hover{
  border: 3px solid #39cccc;
  background:rgba(66, 69, 73,1) 
  
}
.join {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 13vh;
}
@media(max-width:1000px)
{
  .join{
    flex-direction: column;
    gap: 4vh;
  }
}

.btn {
  padding-left: 2vw;
  padding-right: 2vw;
  height: 4vh;
  border: 2px solid #00fa9a;
  border-radius: 9px;
  outline-style: none;
  background: rgba(0,0,0,1);
  color: #00fa9a;
  cursor: pointer;
}
@media(max-width:1000px)
{
  .btn{
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
#del{
  color:rgb(229,43,18);
  border:2px solid #EE4B23;
}
.btn:active{
  filter: brightness(1.5);
}

.frontvideo {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(4px);
}
.front {
  position: relative;
}
.foot{
  position: relative;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    gap: 4vw;
    
}
.footimg{
  width: 2.4vw;
  
}
.footimg:hover{
  filter: hue-rotate(90deg)
}
@media(max-width:1000px)
{
  .foot{
    margin-top: 20%;
  }
  .footimg{
    width: 5.5vw;
  }
}