@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.chat {
  text-align: center;
  margin-top: 30vh;
  color: white;
  font-size: 4rem;
  position: relative;
  left: -3vw;
}
input {
  width: 16vw;
  height: 4vh;
  border: 2px solid #39cccc;
  border-radius: 9px;
  outline-style: none;
  padding-left: 1vw;
  background: rgba(66, 69, 73,0.6);
  color: white;
}
input:focus{
  border: 3px solid #39cccc;
  background:rgba(66, 69, 73,1) 
  
}
.join {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-top: 6vh;
}
.btn {
  padding-left: 2vw;
  padding-right: 2vw;
  height: 4vh;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 9px;
  outline-style: none;
  background: rgba(0,0,0,1);
  color: #00fa9a;
  cursor: pointer;
}
.btn:hover{

  border: 2px solid rgba(255, 255, 255, 1);
}
.frontvideo {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(4px);
}
.front {
  position: relative;
}
