@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --bg-opacity: 1;
}
.main-video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: brightness(0.5);
}
.wave-container {
  display: flex;
}

.wave-container {
  width: auto;
}
@media (min-width: 720px) {
  .wave-container:nth-child(4) {
    width: 100vw;
  }
}
.wave-container > svg {
  width: 100vw;
}


.headflex > h1 {
  margin-top: 10vh;
}
.mainC {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow-x: hidden;
}
input {
  width: 16vw;
  height: 4vh;
  border: 0;
  border-radius: 9px;
  outline-style: none;
  padding-left: 1vw;
  background: rgba(66, 69, 73, 0.6);
  color: white;
  filter: brightness(1.5);
}
@media (max-width: 1000px) {
  input {
    width: 56vw;
  }
}
.join {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-top: 13vh;
}
@media (max-width: 1000px) {
  .join {
    flex-direction: column;
    gap: 4vh;
  }
}

.btn {
  padding-left: 2vw;
  padding-right: 2vw;
  height: 4vh;
  border: 2px solid #00fa9a;
  border-radius: 9px;
  outline-style: none;
  background: rgba(0, 0, 0, 1);
  color: #00fa9a;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .btn {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
#del {
  color: rgb(229, 43, 18);
  border: 2px solid #ee4b23;
}
.btn:active {
  filter: brightness(1.5);
}
.section2 {
  background: #1b2845;
}
.heading {
  position: relative;
}
.headflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 6rem;
  font-weight: bolder;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
.head2 {
  font-size: 3.75rem;
  color: rgb(59 130 246);
}
@media (max-width: 768px) {
  .head2 {
    font-size: 1.75rem;
  }
}
.green-p {
  --text-opacity: 1;
  color: rgb(172 255 173 / var(--text-opacity));
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
}
@media (max-width: 768px) {
  .green-p {
    font-size: 1.2rem;
  }
}
.in {
  margin-top: 10vh;
  width: 30vw;
  height: 4vh;
  border-radius: 10px;
  border: 0px solid transparent;
  color: white;
  background: #222222;
  outline: none;
  text-align: center;
}
.amongsvg {
  height: 5rem;
  animation: drop-in 1s ease-out;
  transform: translateY(0%);
}
@keyframes drop-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (max-width: 768px) {
  .amongsvg {
    height: 3rem;
  }
}

#character {
  animation-name: change-color;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
h3 {
  font-size: 2rem;
  font-weight: initial;
}
@media (max-width: 768px) {
  h3 {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
.imposter {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 3vw;
  align-items: center;
  margin-top: -2vh;
}
.imposterw {
  animation: none;
}
.imp {
  height: 50vh;
  background: transparent;
}
@media (max-width: 768px) {
  .imp {
    height: 30vh;
  }
}


.croom {
  --scale: 1.2vw;
  padding-left: 0%;
  width: calc(var(--scale) * 38.5);
  height: calc(var(--scale) * 23.8);
  border-radius: 10px;
  border: 3px solid white;
  background: black;
  object-fit: contain;
  margin-top: 3vh;
  transition-property: var(--scale);
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}
.croom:hover {
  --scale: 1.4vw;
}
@media (max-width: 1000px) {
  .croom {
    --scale: 2.2vw;
  }
  .croom:hover {
    --scale: 2.4vw;
  }
}
.footer {
  height: 70vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.foot {
  position: relative;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  margin-top: 12%;
  gap: 4vw;
}
.footimg {
  width: 2.4vw;
}
.footimg:hover {
  filter: hue-rotate(90deg);
}
@media (max-width: 1000px) {
  .footimg {
    width: 5.5vw;
  }
}
